<br/>
<br/>
<h2>Details for roofingPrimer product</h2>
<br/>
<br/>
<p>Item
	<%=  roofingPrimer._id %>
</p>
<p>
	<%=  roofingPrimer.name %>
</p>
<p>
	<%=  roofingPrimer.price %> per
		<%=  roofingPrimer.unit %>
</p>
<br/>
<form method="get" action="/roofingPrimer">
	<input type="submit" value="Return to list" class="btn btn-caution" />
</form>
    <!-- This view is managed by team 4-13 -->
<!--  Jaswanth Jonnalagadda -->
<!-- Haritha Arikapudi -->
<!-- Sushmitha Patlola -->