
<h2>Create a new waterproofing estimate</h2>
<form method="post" action="/waterproofingEstimate/save" role="form">
<% include ..\estimateparts\fg-about %>
<% include ..\estimateparts\fg-footage %>
<% include ..\estimateparts\fg-waterproofing %>
<% include ..\estimateparts\fg-aggregate %>
<% include ..\estimateparts\fg-labor %>
<% include ..\estimateparts\fg-mileage %>
<% include ..\estimateparts\fg-misc %>
<% include ..\estimateparts\fg-comment %>
<div class="form-group">
<input type="submit" value="Post new entry" class="btn btn-primary">
</div>
</div>
</form>
