<h2>Recent waterproofing estimates</h2>
<p>There are  <%= waterproofingEstimates.query.length %> waterproofing estimates. <br/>
<a href="/waterproofingEstimate/create">Add a new one.</a></p>
<% c=0; %>
<% for(var item in waterproofingEstimates.query) { %>
<% c++; %>
<div class="panel panel-default">
<div class="panel-heading">
<div class="text-muted pull-right">
<%= waterproofingEstimates.published %></div>
<%= waterproofingEstimates.title %></div>
<% include ..\..\views\estimateparts\est-about %>
Square footage : <% include ..\..\views\estimateparts\est-footage %> sqft<br/>
Flooring : <% include ..\..\views\estimateparts\est-flooring %><br/>
Aggregate : <% include ..\..\views\estimateparts\est-aggregate %> <br/>
Labour Cost : <% include ..\..\views\estimateparts\est-labor %> <br/>
Mileage : <% include ..\..\views\estimateparts\est-mileage %> <br/>
Misc : <% include ..\..\views\estimateparts\est-misc %><br/>
<% include ..\..\views\estimateparts\est-result %>
<%
    var footage=5000, flooring=500,  aggregate = 1500, labour_cost = 2000, mileage = 400, misc = 200, job_cost = 3.50, profit=100 , bid=7.00
    var total_cost = flooring+aggregate+labour_cost+mileage+misc;
    var total_unit_cost = total_cost/footage;
%>   
<table class="table table-bordered">
<tr>
    <th colspan="2">Estimate Summary</th>
</tr>
<tr>
    <td>Total area, sqft</td>
    <td>$<%= footage %></td>
</tr>
<tr>
    <td>Total cost, $USD</td>
    <td>$<%= total_cost %></td>
</tr>
<tr>
    <td>Overall unit cost, $/sqft</td>
    <td>$<%= total_unit_cost %></td>
</tr>
</table>

<table class="table table-bordered table-hover">
<tr>
    <th colspan="4">Bid price by profit margin</th>
</tr>
<tr>
    <th>Margin</th>
    <th>Total cost, $USD</th>
    <th>Bid Price, $/sqft</th>
    <th>Select</th>
</tr>
<% for(var i=0; i<7; i++){
    var margin_per = 40+(i*10);
     %>
    <tr>
        <td><%= margin_per %>%</td>
        <td>$<%= total_cost*(1+margin_per/100) %></td>
        <td id="mbid_<%= ((c+1)+""+i+1) %>">$<%= (total_unit_cost*(1+margin_per/100)).toFixed(2) %></td>
        <td>
            <input type="radio" name="bid" id="<%= ((c+1)+""+i+1) %>" />
        </td>
    </tr> 
<% } %>
    <tr>
        <td>Display Bid price, $/sqft : <strong id="dis_bid_<%= (c+1) %>"></strong></td>
    </tr>
</table>



<div class="panel-body">
<%= waterproofingEstimates.comment %>
<a href="/waterproofingEstimate/delete/<%= waterproofingEstimates.query[0]._id %>">delete</a> |
<a href="/waterproofingEstimate/details/<%= waterproofingEstimates.query[0]._id %>">details</a> |
<a href="/waterproofingEstimate/edit/<%= waterproofingEstimates.query[0]._id %>">edit</a>

 
</div>
</div>
<% } %>
<!-- This model is managed by Team 4-03
Sai Venkat Poorna Chandu Bhogireddy
Santosh Ravi Teja Goteti -->