<br/>
<br/>
<h2>Create a new square foot</h2>
<p>There are currently
	<%= estimatePartFootages.query.length %> Part Footage </p>
<br/>
<% 
maxID=0; 
for (var i=0; i<estimatePartFootages.query.length; i++) {
    if(estimatePartFootages.query[i]._id > maxID) {
        maxID=estimatePartFootages.query[i]._id;
        }
}
maxDisplayorder=0; 
for (var i=0; i<estimatePartFootages.query.length; i++) {
    if(estimatePartFootages.query[i].displayorder > maxDisplayorder) {
        maxDisplayorder=estimatePartFootages.query[i].displayorder;
        }
}
%>
	<p>The largest ID is
		<%= maxID %>. </p>
	<p>The largest display order is
		<%= maxDisplayorder %>. </p><br/>
	<div class="content">
		<div>
			<form name="estimatePartFootage" method="POST" action="/estimatePartFootage/save" + _id.value>

				<div class="form-group" id=frm>
					<label for="_id">ID</label>
					<input type="number" class="form-control" id="_id" name="_id" value="<%= maxID+1 %>" required readonly>
				</div>

				<div class="form-group">
					<label for="sqft">Sqft</label>
					<input type="text" class="form-control" id="sqft" name="sqft" value="1000" required>
				</div>

				<div class="form-group">
					<label for="length">Length</label>
					<input type="text" class="form-control" id="length" name="length" value="100" required>
				</div>

				<div class="form-group">
					<label for="width">Width</label>
					<input type="text" class="form-control" id="width" name="width" value="10" required>
				</div>

				<div class="form-group">
					<label for="displayorder">Display Order</label>
					<input type="number" class="form-control" id="displayorder" name="displayorder" value="<%= maxDisplayorder+10 %>" required>
				</div>

				<div class="form-group">
					<input type="submit" value="Post new entry" class="btn btn-primary" />
				</div>
			</form>
			<br/>
			<form method="get" action="/estimatePartFootage">
				<input type="submit" value="Return to list" class="btn btn-caution" />
			</form>
		</div>
	</div>
<!-- this view is managed by Team 4-4
Amarishwer Edam
Sivareddy Mekapothula
Vikas Bavikadi -->