<br/>
<br/>
<h2>Confirm deletion of estimate square footage</h2>
<br/>
<br/>
<p>Item
	<%=  estimatePartFootage._id %>
</p>
<p>
	Total square feet <%=  estimatePartFootage.sqft %>
</p>
<p>
	Length is <%=  estimatePartFootage.length %> and width is
		<%=  estimatePartFootage.width %>
</p>
<br/>
<form method="get" action="/estimatePartFootage">
	<input type="submit" value="Return to list" class="btn btn-caution" />
</form>
<br/>
<form method="POST" action="/estimatePartFootage/delete/<%= estimatePartFootage._id %>">
	<input type="submit" value="Delete this item" class="btn btn-danger pull-right" />
</form>
<!-- this view is managed by Team 4-4
Amarishwer Edam
Sivareddy Mekapothula
Vikas Bavikadi -->