<br/>
<br/>
<h3>Editing square footage details</h3>

<div class="content">
	<div>
		<form method="POST" action="/estimatePartFootage/save/<%= estimatePartFootage._id %>">

			<div class="form-group" id=frm>
				<label for="_id">ID</label>
				<input type="number" class="form-control" id="_id" name="_id" value="<%= estimatePartFootage._id %>" required disabled>
			</div>

			<div class="form-group">
				<label for="sqft">Sqft</label>
				<input type="number" class="form-control" id="sqft" name="sqft" value="<%= estimatePartFootage.sqft %>" required>
			</div>

			<div class="form-group">
				<label for="length">Length</label>
				<input type="number" class="form-control" id="length" name="length" value="<%= estimatePartFootage.length %>" required>
			</div>

			<div class="form-group">
				<label for="width">Width</label>
				<input type="number" class="form-control" id="width" name="width" value="<%= estimatePartFootage.width %>" required>
			</div>

			<div class="form-group">
				<label for="displayorder">Display Order</label>
				<input type="number" class="form-control" id="displayorder" name="displayorder" value="<%= estimatePartFootage.displayorder %>"
					required>
			</div>

			<input type="submit" value="Save" class="btn btn-primary" />
		</form>
		<br/>
		<form method="get" action="/estimatePartFootage">
			<input type="submit" value="Return to list" class="btn btn-caution" />
		</form>
	</div>
</div>
<!-- this view is managed by Team 4-4
Amarishwer Edam
Sivareddy Mekapothula
Vikas Bavikadi -->