<br/>

<br/>
<h2>Create a new estimatePartLabor product</h2>
<p>There are currently
	<%=  estimatePartLabors.query.length %> estimatePartLabor. </p>
<br/>
<% 
maxID=0; 
for (var i=0; i< estimatePartLabors.query[0].entries.length; i++) {
    if( estimatePartLabors.query[0].entries[i]._id > maxID) {
        maxID= estimatePartLabors.query[0].entries[i]._id;
        }
}
%>
	
	<div class="content">
		<div>
			<form name=" estimatePartLabor" method="POST" action="/ estimatePartLabor/save">

				<div class="form-group" id=frm>
					<label for="_id">ID</label>
					<input type="number" class="form-control" id="_id" name="_id" value="<%= maxID+1 %>" required>
				</div>

				<div class="form-group">
					<label for="type">type</label>
					<input type="text" class="form-control" id="type" name="type" value="type" required>
				</div>

				<div class="form-group">
					<label for="count">count</label>
					<input type="number" class="form-control" id="count" name="count" value="count" required>
				</div>

				<div class="form-group">
					<label for="hoursPerPerson">hoursPerPerson</label>
					<input type="number" class="form-control" id="hoursPerPerson" name="hoursPerPerson" value="hoursPerPerson" required>
				</div>

				<div class="form-group">
					<label for="dollarsPerHour">dollarsPerHour</label>
					<input type="number" class="form-control" id="dollarsPerHour" name="dollarsPerHour" value="dollarsPerHour" required>	
				</div>

                <div class="form-group">
					<label for="nightsPerPerson">nightsPerPerson</label>
					<input type="number" class="form-control" id="nightsPerPerson" name="nightsPerPerson" value="nightsPerPerson" required>
				</div>

                <div class="form-group">
					<label for="costPerNight">costPerNight</label>
					<input type="number" class="form-control" id="costPerNight" name="costPerNight" value="costPerNight" required>
				</div>

				<div class="form-group">
					<input type="submit" value="Post new entry" class="btn btn-primary" />
				</div>
			</form>
			<br/>
			<form method="get" action="/estimatePartLabor">
				<input type="submit" value="Return to list" class="btn btn-caution" />
			</form>
		</div>
	</div>

<!--  This model is managed by Team 4-10
Gudavalli Jagadeesh
Mourya
-->