<br/>
<br/>
<h2>Details for estimatePartLabor product</h2>
<br/>
<br/>
<p>Item
	<%=  estimatePartLabor._id %>
</p>
<p>
	<%=  estimatePartLabor.type %>
</p>
<p>
	<%=  estimatePartLabor.	count %>
</p>
<p>
	<%=  estimatePartLabor.	hoursPerPerson %> hours per person
</p>
<p>
	<%= estimatePartLabor.dollarsPerHour %> dollars per hour
		<%=  estimatePartLabor.hour %>
</p>
<p>
	<%=  estimatePartLabor.	nightsPerPerson %> nights per person
</p>
<p>
	<%=  estimatePartLabor.	costPerNight %> dollars per night
		<%=  estimatePartLabor.night %>
</p>


<br/>
<form method="get" action="/estimatePartLabor">
	<input type="submit" value="Return to list" class="btn btn-caution" />

</form>

<!--  This model is managed by Team 4-10
Gudavalli Jagadeesh
Mourya