<% console.log(roofingBasecoats.query); %>
<div class="container">
 <h2>Material roofing basecoat costs</h2>

<p>There are  <%= roofingBasecoats.query.length %> roofing basecoats. <br/>
<a href="roofingBasecoat/create">Add a new one.</a></p>

<table class="table" border="1">
    <thead>
      <tr>
      <th>ID</th>
        <th>Name</th>
        <th>Display Order</th>
        <th>Price</th>
        <th>Unit</th>
       <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <% count=0; %>
<% for (var i = 0; i < roofingBasecoats.query.length; i++) { %>
         <tr> <% count++; %>
         <td>
							<%=  roofingBasecoats.query[i]._id %>
						</td>
            <td><%=  roofingBasecoats.query[i].name %></td>
            <td><%=  roofingBasecoats.query[i].displayorder %></td>
            <td><%=  roofingBasecoats.query[i].price %></td>
            <td><%=  roofingBasecoats.query[i].unit %></td>
            <td>
							<a href="roofingBasecoat/delete/<%=  count%>"> Delete </a> |
							<a href="roofingBasecoat/details/<%= count%>"> Details </a> |
							<a href="roofingBasecoat/edit/<%= count %>"> Edit </a>
						</td>
         </tr>
         <% } %>
</tbody>
</table>
</div>
    <!-- This view is managed by team 4-13 -->
<!--  Jaswanth Jonnalagadda -->
<!-- Haritha Arikapudi -->
<!-- Sushmitha Patlola -->
