<br/>

<br/>
<h2>Create a new aggregate cost</h2>
<p>There are currently
	<%= estimatePartAggregates.query.length %> Aggregate  Costs. </p>
<br/>
<% 
maxID=0; 
for (var i=0; i<estimatePartAggregates.query.length; i++) {
    if(estimatePartAggregates.query[i]._id > maxID) {
        maxID=estimatePartAggregates.query[i]._id;
        }
}
%>
	<p>The largest ID is
		<%= maxID %>. </p>
	
	<div class="content">
		<div>
			<form name="estimatePartAggregate" method="POST" action="/aggregate_cost/save" + _id.value>

				<div class="form-group" id=frm>
					<label for="_id">ID</label>
					<input type="number" class="form-control" id="_id" name="_id" value="<%= maxID+1 %>" required readonly>
				</div>

				<div class="form-group">
					<label for="name">isUsed?</label>
					<input type="text" class="form-control" id="name" name="name"  required>
				</div>

				<div class="form-group">
					<label for="unit">Aggregae Type Selection</label>
					<input type="text" class="form-control" id="unit" name="unit"  required>
				</div>

				<div class="form-group">
					<label for="price">Aggreate Material Selection</label>
					<input type="text" class="form-control" id="price" name="price" required>
				</div>

				<div class="form-group">
					<label for="displayorder">Coverage Sq. Ft.</label>
					<input type="number" class="form-control" id="displayorder" name="displayorder" required>
				</div>
				<div class="form-group">
					<label for="displayorder">Sub Total</label>
					<input type="number" class="form-control" id="displayorder" name="displayorder"  required>
				</br>
				<div class="form-group">
					<input type="submit" value="Post new entry" class="btn btn-primary" />
				</div>
			</form>
			<br/>
			<form method="get" action="/estimatePartAggregate">
				<input type="submit" value="Return to list" class="btn btn-caution" />
			</form>
		</div>
	</div>

<!--// This model is managed by Team R09
// Sandip Subedi
//Dhanalakota Neelesh Varma
// Matthew Woolery-->
