<br/>
<br/>
<h2>Confirm deletion of aggregate cost</h2>
<br/>
<br/>
<strong>ID: </strong> 	<%=  estimatePartAggregate._id %>  </br>
<strong>isUsed? </strong> 	<%=  estimatePartAggregate.isUsed %> </br>
<strong>Type : </strong><%=  estimatePartAggregate.aggregateTypeSelection %> </br>
<strong>Selection :	</strong><%=  estimatePartAggregate.aggregateMaterialSelection %> </br>
<strong>Coverage : </strong>   <%=  estimatePartAggregate.coverageSqFt %> </br>
<strong>Subtotal: </strong>	<%=  estimatePartAggregate.subtotal %> </br>

<br/>
<form method="get" action="/estimatePartAggregate">
	<input type="submit" value="Return to list" class="btn btn-caution" />
</form>
<br/>
<form method="POST" action="/aggregate_cost/delete/<%= estimatePartAggregates._id %>">
	<input type="submit" value="Delete this item" class="btn btn-danger pull-right" />
</form>

<!--// This model is managed by Team R09
// Sandip Subedi
// Matthew Woolery
Dhanalakota Neelesh Varma-->
