<br/>
<br/>
<h2>Details for Estimate Part Aggregate</h2>
<br/>
<br/>
<strong>ID:</strong> 	<%=  estimatePartAggregate._id %>  </br>
<strong>isUsed? </strong>	<%=  estimatePartAggregate.isUsed %> </br>
<strong>Type : </strong> <%=  estimatePartAggregate.aggregateTypeSelection %> </br>
<strong>Selection : </strong>	<%=  estimatePartAggregate.aggregateMaterialSelection %> </br>
<strong>Coverage :   </strong> <%=  estimatePartAggregate.coverageSqFt %> per </br>
<strong>Subtotal: </strong>	<%=  estimatePartAggregate.subtotal %> </br>
</p>
<br/>
<form method="get" action="/estimatePartAggregate">
	<input type="submit" value="Return to list" class="btn btn-caution" />
</form>

<!--// This model is managed by Team R09
// Sandip Subedi
// Matthew Woolery
Dhanalakota Neelesh Varma-->
