<% console.log(estimatePartFloorings.query); %>
<div class="container">
<h2>All entries</h2>

<p>There are  <%= estimatePartFloorings.query.length %> entries. <br/>
<a href="estimatePartFlooring/create">Add a new one.</a></p>

<table class="table" border="1">
    <thead>
      <tr>
           <th>Subtotal</th>
       <th>Actions</th>
    </tr>
    </thead>
    <tbody>
<% for (var i = 0; i < estimatePartFloorings.query.length; i++) { %>
         <tr>
            <td><%=  estimatePartFloorings.query[i].subtotal %></td>
          <!--  <td> Delete Details Edit </td> -->
            <td>
                <a href="estimatePartFlooring/delete/<%=  estimatePartFloorings.query[i]._id %>"> Delete </a> |
                <a href="estimatePartFlooring/details/<%= estimatePartFloorings.query[i]._id %>"> Details </a> |
                <a href="estimatePartFlooring/edit/<%=    estimatePartFloorings.query[i]._id %>"> Edit </a>
            </td>
         </tr>
         <% } %>
</tbody>
</table>
</div>

<!-- This model is managed by Team 4-5
     Chaitanya Kiran Moturu
     Manikanteswara Rao Earla
     Sainath Gulla -->
