<% console.log(waterproofingPrimers.query); %>
	<div class="container">
		<h2>Material waterproofing primer costs</h2>

		<p>There are
			<%= waterproofingPrimers.query.length %> waterproofing primers. <br/>
				<a href="waterproofingPrimer/create"><button type="button" class="btn btn-primary"> <span class="glyphicon glyphicon-pencil"></span> New Entry</button>
		</a>
		</p>
				

		<table class="table" border="1">
			<thead>
				<tr>
					<th>ID</th>
					<th>Name</th>
					<th>Display Order</th>
					<th>Price</th>
					<th>Unit</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				<% for (var i = 0; i < waterproofingPrimers.query.length; i++) { %>
					<tr>
						<td>
							<%=  waterproofingPrimers.query[i]._id %>
						</td>
						<td>
							<%=  waterproofingPrimers.query[i].name %>
						</td>
						<td>
							<%=  waterproofingPrimers.query[i].displayorder %>
						</td>
						<td>
							<%=  waterproofingPrimers.query[i].price %>
						</td>
						<td>
							<%=  waterproofingPrimers.query[i].unit %>
						</td>
						<td>
							
							<a href="waterproofingPrimer/details/<%= waterproofingPrimers.query[i]._id %>">
							<button type="button" class="btn btn-info"> Details</button></a></p>  
							<a href="waterproofingPrimer/edit/<%=    waterproofingPrimers.query[i]._id %>">
							 <button type="button" class="btn btn-warning"> Edit</button></a></p> 
							<a href="waterproofingPrimer/delete/<%=  waterproofingPrimers.query[i]._id %>">
							<button type="button" class="btn btn-danger"> <span class="glyphicon glyphicon-bin"></span>Delete</button></a></p>    
						</td>
					</tr>
					<% } %>
			</tbody>
		</table>
	</div>

	<!--  This model is managed by Team 4-14
Mudduluru Saikrishna
Malpani Sresth
Govindu Madanamohan
-->