<!-- This model is managed by Team 4-11 --> 
<!--  Nuli Kartik -->
<!-- Bapuji Dirisala-->


<br/>
<br/>
<h2>Confirm deletion of <%= title %></h2>
<br/>
<br/>
<p>Item
	<%=  estimatePartMileage._id %>
</p>
<p>
	<%=  estimatePartMileage.entry.description %>
</p>
<p>
	<%=  estimatePartMileage.entry.cost %> 
</p>

<br/>
<form method="get" action="/estimatePartMileage">
	<input type="submit" value="Return to list" class="btn btn-caution" />
</form>
<br/>
<form method="POST" action="/estimatePartMileage/delete/<%= estimatePartMileage._id %>">
	<input type="submit" value="Delete this item" class="btn btn-danger pull-right" />
</form>