<h2>Recent flooring estimates</h2>
<p>There are  <%= flooringEstimates.query.length %> flooring estimates. <br/>
<a href="/flooringEstimate/create">Add a new one.</a></p>


<% for (var i = 0; i < flooringEstimates.query.length; i++) { %>     
    <div class="panel panel-default">
    <div class="panel-heading"></div>
    <div class="text-muted pull-left"> </div> 
        <div class="panel-body">
            Client :<%=  flooringEstimates.query[i].estimatePartAbout.client %><br>
            City :<%=  flooringEstimates.query[i].estimatePartAbout.city %><br>
            Year : <%= flooringEstimates.query[i].estimatePartAbout.year %><br>
            Month :<%= flooringEstimates.query[i].estimatePartAbout.month %><br>
            Sqft : <%= flooringEstimates.query[i].estimateSquareFootage.sqft %><br>
            CostPerSqrFoot : <%= flooringEstimates.query[i].costPerSquareFoot %><br>
            BidPerSqrFoot :<%= flooringEstimates.query[i].bidPerSquareFoot %><br>

            <a href="/flooringEstimate/delete/<%= flooringEstimates.query[i]._id %>">Delete </a>
                <a href="/flooringEstimate/details/<%= flooringEstimates.query[i]._id %>">| Details |</a> 
                <a href="/flooringEstimate/edit/<%= flooringEstimates.query[i]._id %>"> Edit</a><br>
        </div>
    </div>
 <% } %>
<!-- this controller managed by 4-01 -->
<!-- katta srikar reddy -->
<!-- Ravulaparthi swami sai anuraag -->