<br/>
<br/>
<h2>Confirm deletion of flooring coating product</h2>
<br/>
<br/>
<p>Item
	<%=  flooringCoatings._id %>
</p>
<p>
	<%=  flooringCoatings.name %>
</p>
<p>
	<%=  flooringCoatings.price %> per
		<%=  flooringCoatings.unit %>
</p>
<br/>
<form method="get" action="/flooringCoatings">
	<input type="submit" value="Return to list" class="btn btn-caution" />
</form>
<br/>
<form method="POST" action="/flooringCoatings/delete/<%= flooringCoatings._id %>">
	<input type="submit" value="Delete this item" class="btn btn-danger pull-right" />
</form>