<% console.log(flooringCoatings.query); %>
	<div class="container">
		<h2>Material Flooring coatings costs</h2>
		<p>There are
			<%= flooringCoatings.query.length %> flooring coating. <br/>
				<a href="flooringCoating/create">Add a new one.</a></p>
		<table class="table" border="1">
			<thead>
				<tr>
					<th>ID</th>
					<th>Name</th>
					<th>Display Order</th>
					<th>Price</th>
					<th>Unit</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				<% for (var i = 0; i < flooringCoatings.query.length; i++) { %>
					<tr>
						<td>
							<%=  flooringCoatings.query[i]._id %>
						</td>
						<td>
							<%=  flooringCoatings.query[i].name %>
						</td>
						<td>
							<%=  flooringCoatings.query[i].displayorder %>
						</td>
						<td>
							<%=  flooringCoatings.query[i].price %>
						</td>
						<td>
							<%=  flooringCoatings.query[i].unit %>
						</td>
						<td>
							<a href="flooringCoating/delete/<%=  flooringCoatings.query[i]._id %>"> Delete </a> |
							<a href="flooringCoating/details/<%= flooringCoatings.query[i]._id %>"> Details </a> |
							<a href="flooringCoating/edit/<%=    flooringCoatings.query[i]._id %>"> Edit </a>
						</td>
					</tr>
					<% } %>
			</tbody>
		</table>
	</div>
	<!--  This model is managed by Team 4-12
Harsha Vardhan Reddy 
Rakesh Reddy
-->