<br/>
<br/>
<h2>Confirm deletion of Aggregate Materials</h2>
<br/>
<br/>
<p>Item
	<%=  aggregateMaterial._id %>
</p>
<p>
	<%=  aggregateMaterial.name %>
</p>
<p>
	<%=  aggregateMaterial.price %> per
		<%=  aggregateMaterial.unit %>
</p>
<br/>
<form method="get" action="/aggregateMaterial">
	<input type="submit" value="Return to list" class="btn btn-caution" />
</form>
<br/>
<form method="POST" action="/aggregateMaterial/delete/<%= aggregateMaterial._id %>">
	<input type="submit" value="Delete this item" class="btn btn-danger pull-right" />
</form>