<br/>
<br/>
<h2>Details for Roofing coat product</h2>
<br/>
<br/>
<p>Item
	<%=  aggregateMaterial._id %>
</p>
<p>
	<%=  aggregateMaterial.name %>
</p>
<p>
	<%=  aggregateMaterial.price %> per
		<%=  aggregateMaterial.unit %>
</p>
<br/>
<form method="get" action="/flooringCoating">
	<input type="submit" value="Return to list" class="btn btn-caution" />
</form>