<br/>

<br/>
<h2>Create a new roofing Topcoat product</h2>
<p>There are currently
	<%= roofingTopcoats.query.length %> roofingPrimers. </p>
<br/>
<% 
maxID=0; 
for (var i=0; i<roofingTopcoats.query.length; i++) {
    if(roofingTopcoats.query[i]._id > maxID) {
        maxID=roofingTopcoats.query[i]._id;
        }
}
maxDisplayorder=0; 
for (var i=0; i<roofingTopcoats.query.length; i++) {
    if(roofingTopcoats.query[i].displayorder > maxDisplayorder) {
        maxDisplayorder=roofingTopcoats.query[i].displayorder;
        }
}
%>
	<p>The largest ID is
		<%= maxID %>. </p>
	<p>The largest display order is
		<%= maxDisplayorder %>. </p><br/>
	<div class="content">
		<div>
			<form name="roofingTopcoat" method="POST" action="/roofingTopcoat/save" + _id.value>

				<div class="form-group" id=frm>
					<label for="_id">ID</label>
					<input type="number" class="form-control" id="_id" name="_id" value="<%= maxID+1 %>" required readonly>
				</div>

				<div class="form-group">
					<label for="name">Name</label>
					<input type="text" class="form-control" id="name" name="name" value="Name" required>
				</div>

				<div class="form-group">
					<label for="unit">Unit</label>
					<input type="text" class="form-control" id="unit" name="unit" value="gal" required>
				</div>

				<div class="form-group">
					<label for="price">Price</label>
					<input type="text" class="form-control" id="price" name="price" value="30" required>
				</div>

				<div class="form-group">
					<label for="displayorder">Display Order</label>
					<input type="number" class="form-control" id="displayorder" name="displayorder" value="<%= maxDisplayorder+10 %>" required>
				</div>

				<div class="form-group">
					<input type="submit" value="Post new entry" class="btn btn-primary" />
				</div>
			</form>
			<br/>
			<form method="get" action="/roofingTopcoat">
				<input type="submit" value="Return to list" class="btn btn-caution" />
			</form>
		</div>
	</div>
    
    <!-- This view is managed by team 4-13 -->
<!--  Jaswanth Jonnalagadda -->
<!-- Haritha Arikapudi -->
<!-- Sushmitha Patlola -->