<br/>
<br/>
<h2>Edit roofingTopcoat product</h2>
<div class="content">
	<div>
		<form method="POST" action="/roofingTopcoat/save/<%= roofingTopcoat._id %>">

			<div class="form-group" id=frm>
				<label for="_id">ID</label>
				<input type="number" class="form-control" id="_id" name="_id" value="<%= roofingTopcoat._id %>" required disabled>
			</div>

			<div class="form-group">
				<label for="name">Name</label>
				<input type="text" class="form-control" id="name" name="name" value="<%= roofingTopcoat.name %>" required>
			</div>

			<div class="form-group">
				<label for="unit">Unit</label>
				<input type="text" class="form-control" id="unit" name="unit" value="<%= roofingTopcoat.unit %>" required>
			</div>

			<div class="form-group">
				<label for="price">Price</label>
				<input type="number" class="form-control" id="price" name="price" value="<%= roofingTopcoat.price %>" required>
			</div>

			<div class="form-group">
				<label for="displayorder">Display Order</label>
				<input type="number" class="form-control" id="displayorder" name="displayorder" value="<%= roofingTopcoat.displayorder %>"
					required>
			</div>

			<input type="submit" value="Save" class="btn btn-primary" />
		</form>
		<br/>
		<form method="get" action="/roofingTopcoat">
			<input type="submit" value="Return to list" class="btn btn-caution" />
		</form>
	</div>
</div>
    <!-- This view is managed by team 4-13 -->
<!--  Jaswanth Jonnalagadda -->
<!-- Haritha Arikapudi -->
<!-- Sushmitha Patlola -->