
<% console.log(roofingTopcoats.query); %>
<div class="container">
 <h2>Material roofing topcoat costs</h2>

<p>There are  <%= roofingTopcoats.query.length %> roofing topcoats. <br/>
<a href="roofingTopcoat/create">Add a new one.</a></p>

<table class="table" border="1">
    <thead>
      <tr>
      <th>ID</th>
        <th>Name</th>
        <th>Display Order</th>
        <th>Price</th>
        <th>Unit</th>
       <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <% count=0; %>
<% for (var i = 0; i < roofingTopcoats.query.length; i++) { %>
         <tr><% count++; %>
         <td><%=  roofingTopcoats.query[i]._id %></td>
            <td><%=  roofingTopcoats.query[i].name %></td>
            <td><%=  roofingTopcoats.query[i].displayorder %></td>
            <td><%=  roofingTopcoats.query[i].price %></td>
            <td><%=  roofingTopcoats.query[i].unit %></td>
            <td>
							<a href="roofingTopcoat/delete/<%=  count%>"> Delete </a> |
							<a href="roofingTopcoat/details/<%=  count%>"> Details </a> |
							<a href="roofingTopcoat/edit/<%=  count%>"> Edit </a>
						</td>
         </tr>
         <% } %>
</tbody>
</table>
</div>
    <!-- This view is managed by team 4-13 -->
<!--  Jaswanth Jonnalagadda -->
<!-- Haritha Arikapudi -->
<!-- Sushmitha Patlola -->