<!-- This model is managed by Team 4-11 --> 
<!--  Nuli Kartik -->
<!-- Bapuji Dirisala-->

<br/>
<br/>
<h2>Confirm deletion of <%= title %></h2>
<br/>
<br/>
<p>Item
	<%=  estimatePartMisc._id %>
</p>
<p>
	<%=  estimatePartMisc.entry.description %>
</p>
<p>
	<%=  estimatePartMisc.entry.cost %> 
</p>

<br/>
<form method="get" action="/estimatePartMisc">
	<input type="submit" value="Return to list" class="btn btn-caution" />
</form>
<br/>
<form method="POST" action="/estimatePartMisc/delete/<%= estimatePartMisc._id %>">
	<input type="submit" value="Delete this item" class="btn btn-danger pull-right" />
</form>